# This is a white-list gitignore
#


# First, ignore everything
*
.*


# White-list

# gitignore
!/.gitignore

# CMake files
!/CMakeLists.txt
!/cmake/
!/cmake/*.cmake

# Documents
!/README.md
!/MIT-LICENSE.txt
!/Acknowledgement.md
!/documents/
!/documents/Doxyfile.in

# Source code
!/source/
!/source/*.hpp
!/source/*.cpp
!/source/*.dox
## NanairoCommon
!/source/NanairoCommon/
!/source/NanairoCommon/config.cmake
!/source/NanairoCommon/document.dox
!/source/NanairoCommon/*.hpp
!/source/NanairoCommon/*.hpp.in
!/source/NanairoCommon/*.cpp
## ReflectCore
!/source/NanairoCore/
!/source/NanairoCore/config.cmake
!/source/NanairoCore/*.hpp
!/source/NanairoCore/*.hpp.in
!/source/NanairoCore/*.cpp
!/source/NanairoCore/CameraModel/
!/source/NanairoCore/CameraModel/*.hpp
!/source/NanairoCore/CameraModel/*.cpp
!/source/NanairoCore/Color/
!/source/NanairoCore/Color/*.hpp
!/source/NanairoCore/Color/*.cpp
!/source/NanairoCore/Color/*.py.in
!/source/NanairoCore/Data/
!/source/NanairoCore/Data/*.hpp
!/source/NanairoCore/Data/*.cpp
!/source/NanairoCore/DataStructure/
!/source/NanairoCore/DataStructure/*.hpp
!/source/NanairoCore/DataStructure/*.cpp
!/source/NanairoCore/Geometry/
!/source/NanairoCore/Geometry/*.hpp
!/source/NanairoCore/Geometry/*.cpp
!/source/NanairoCore/LinearAlgebra/
!/source/NanairoCore/LinearAlgebra/*.hpp
!/source/NanairoCore/LinearAlgebra/*.cpp
!/source/NanairoCore/Material/
!/source/NanairoCore/Material/*.hpp
!/source/NanairoCore/Material/*.cpp
!/source/NanairoCore/Material/Bxdf/
!/source/NanairoCore/Material/Bxdf/*.hpp
!/source/NanairoCore/Material/Bxdf/*.cpp
!/source/NanairoCore/Material/EmitterModel/
!/source/NanairoCore/Material/EmitterModel/*.hpp
!/source/NanairoCore/Material/EmitterModel/*.cpp
!/source/NanairoCore/Material/Light/
!/source/NanairoCore/Material/Light/*.hpp
!/source/NanairoCore/Material/Light/*.cpp
!/source/NanairoCore/Material/Sensor/
!/source/NanairoCore/Material/Sensor/*.hpp
!/source/NanairoCore/Material/Sensor/*.cpp
!/source/NanairoCore/Material/SurfaceModel/
!/source/NanairoCore/Material/SurfaceModel/*.hpp
!/source/NanairoCore/Material/SurfaceModel/*.cpp
!/source/NanairoCore/Material/Texture/
!/source/NanairoCore/Material/Texture/*.hpp
!/source/NanairoCore/Material/Texture/*.cpp
!/source/NanairoCore/RenderingMethod/
!/source/NanairoCore/RenderingMethod/*.hpp
!/source/NanairoCore/RenderingMethod/*.cpp
!/source/NanairoCore/Sampling/
!/source/NanairoCore/Sampling/*.hpp
!/source/NanairoCore/Sampling/*.cpp
!/source/NanairoCore/ToneMapping/
!/source/NanairoCore/ToneMapping/*.hpp
!/source/NanairoCore/ToneMapping/*.cpp
!/source/NanairoCore/Utility/
!/source/NanairoCore/Utility/*.hpp
!/source/NanairoCore/Utility/*.cpp
## NanairoRenderer
!/source/NanairoRenderer/
!/source/NanairoRenderer/config.cmake
!/source/NanairoRenderer/*.hpp
!/source/NanairoRenderer/*.hpp.in
!/source/NanairoRenderer/*.cpp
## NanairoGui
!/source/NanairoGui/
!/source/NanairoGui/*.hpp
!/source/NanairoGui/*.hpp.in
!/source/NanairoGui/*.cpp
!/source/NanairoGui/*.qml
!/source/NanairoGui/*.js
!/source/NanairoGui/*.cmake
!/source/NanairoGui/MaterialItems/
!/source/NanairoGui/MaterialItems/*.qml
!/source/NanairoGui/MaterialItems/TabSurfaceModelItems/
!/source/NanairoGui/MaterialItems/TabSurfaceModelItems/*.qml
!/source/NanairoGui/MaterialItems/TabEmitterModelItems/
!/source/NanairoGui/MaterialItems/TabEmitterModelItems/*.qml
!/source/NanairoGui/MaterialItems/TabTextureModelItems/
!/source/NanairoGui/MaterialItems/TabTextureModelItems/*.qml
!/source/NanairoGui/RenderedImagedowItems/
!/source/NanairoGui/RenderedImagedowItems/*.qml
!/source/NanairoGui/SetgBlockItems/
!/source/NanairoGui/SetgBlockItems/*.qml
!/source/NanairoGui/TabSceneItems/
!/source/NanairoGui/TabSceneItems/*.qml
!/source/NanairoGui/TabSystemItems/
!/source/NanairoGui/TabSystemItems/*.qml
!/source/NanairoGui/TabColorItems/
!/source/NanairoGui/TabColorItems/*.qml
!/source/NanairoGui/TabRendegMethodItems/
!/source/NanairoGui/TabRendegMethodItems/*.qml
!/source/NanairoGui/TabBvhItems/
!/source/NanairoGui/TabBvhItems/*.qml
!/source/NanairoGui/TabObjectItems/
!/source/NanairoGui/TabObjectItems/*.qml
!/source/NanairoGui/TabObjectItems/ObjectTreeItems/
!/source/NanairoGui/TabObjectItems/ObjectTreeItems/*.qml
!/source/NanairoGui/TabObjectItems/TabCameraItems/
!/source/NanairoGui/TabObjectItems/TabCameraItems/*.qml
!/source/NanairoGui/TabObjectItems/TabObjectItems/
!/source/NanairoGui/TabObjectItems/TabObjectItems/*.qml
!/source/NanairoGui/TabObjectItems/TransformationItems/
!/source/NanairoGui/TabObjectItems/TransformationItems/*.qml
!/source/NanairoGui/Styles/
!/source/NanairoGui/Styles/*.qml
!/source/NanairoGui/Utility/
!/source/NanairoGui/Utility/*.hpp
!/source/NanairoGui/Utility/*.cpp
!/source/NanairoGui/dummydata/
!/source/NanairoGui/dummydata/*.qml
!/source/NanairoGui/image/
!/source/NanairoGui/image/*.png
## Zisc
!/source/zisc
## Test
!/test/
!/test/config.cmake
!/test/googletest
!/test/unittest/
!/test/unittest/*.cpp
!/test/unittest/*.hpp
!/test/resources/
!/test/resources/test_resource.qrc
!/test/resources/*.json

# Resources
!resources/
!resources/resource.qrc
!resources/spectrum/
!resources/spectrum/conductor/
!resources/spectrum/conductor/*.csv
!resources/spectrum/dielectric/
!resources/spectrum/dielectric/*.csv
!resources/spectrum/illuminant/
!resources/spectrum/illuminant/*.csv
!resources/spectrum/observer/
!resources/spectrum/observer/*.csv
!resources/spectrum/reflectance/
!resources/spectrum/reflectance/*.csv
!resources/models/
!resources/models/*.obj
!resources/models/LightTransportEquationOrb/
!resources/models/LightTransportEquationOrb/*.obj
!resources/models/OfficeChair/
!resources/models/OfficeChair/*.obj
!resources/models/OpenedDoor/
!resources/models/OpenedDoor/*.obj
!resources/models/PcMonitor/
!resources/models/PcMonitor/*.obj
!resources/models/Piano/
!resources/models/Piano/*.obj
!resources/models/Primitives/
!resources/models/Primitives/*.obj
!resources/models/Sofa/
!resources/models/Sofa/*.obj
!resources/models/StanfordModels/
!resources/models/StanfordModels/*.obj
!resources/models/Table/
!resources/models/Table/*.obj
!resources/scene/
!resources/scene/*.nana
!resources/image/
!resources/image/*.png

# Packaging
!packaging/
!packaging/*.sh.in
!packaging/*.cmd.in
!packaging/*.cmake
!packaging/*.cmake.in
!packaging/icon.icns
!packaging/icon.ico
!packaging/icon.pxm
!packaging/icon.rc

# Build directories
!/build/
!/build/.gitkeep
