# This is a white-list gitignore
#


# First, ignore everything
*
.*


# White-list

# gitignore
!/.gitignore

# CMake files
!/CMakeLists.txt
!/cmake/
!/cmake/*.cmake

# Documents
!/README.md
!/MIT-LICENSE.txt
!/Acknowledgement.md
!/documents/
!/documents/Doxyfile.in

# Source code
!/source/
!/source/*.hpp
!/source/*.cpp
!/source/*.dox
## ReflectCore
!/source/NanairoCore/
!/source/NanairoCore/config.cmake
!/source/NanairoCore/*.hpp
!/source/NanairoCore/*.hpp.in
!/source/NanairoCore/*.cpp
!/source/NanairoCore/CameraModel/
!/source/NanairoCore/CameraModel/*.hpp
!/source/NanairoCore/CameraModel/*.cpp
!/source/NanairoCore/Color/
!/source/NanairoCore/Color/*.hpp
!/source/NanairoCore/Color/*.cpp
!/source/NanairoCore/Color/*.py.in
!/source/NanairoCore/Color/SpectralTransportParameters/
!/source/NanairoCore/Color/SpectralTransportParameters/*.hpp
!/source/NanairoCore/Color/SpectralTransportParameters/*.hpp.in
!/source/NanairoCore/Data/
!/source/NanairoCore/Data/*.hpp
!/source/NanairoCore/Data/*.cpp
!/source/NanairoCore/DataStructure/
!/source/NanairoCore/DataStructure/*.hpp
!/source/NanairoCore/DataStructure/*.cpp
!/source/NanairoCore/Geometry/
!/source/NanairoCore/Geometry/*.hpp
!/source/NanairoCore/Geometry/*.cpp
!/source/NanairoCore/LinearAlgebra/
!/source/NanairoCore/LinearAlgebra/*.hpp
!/source/NanairoCore/LinearAlgebra/*.cpp
!/source/NanairoCore/Material/
!/source/NanairoCore/Material/*.hpp
!/source/NanairoCore/Material/*.cpp
!/source/NanairoCore/Material/Bxdf/
!/source/NanairoCore/Material/Bxdf/*.hpp
!/source/NanairoCore/Material/Bxdf/*.cpp
!/source/NanairoCore/Material/EmitterModel/
!/source/NanairoCore/Material/EmitterModel/*.hpp
!/source/NanairoCore/Material/EmitterModel/*.cpp
!/source/NanairoCore/Material/Light/
!/source/NanairoCore/Material/Light/*.hpp
!/source/NanairoCore/Material/Light/*.cpp
!/source/NanairoCore/Material/Sensor/
!/source/NanairoCore/Material/Sensor/*.hpp
!/source/NanairoCore/Material/Sensor/*.cpp
!/source/NanairoCore/Material/SurfaceModel/
!/source/NanairoCore/Material/SurfaceModel/*.hpp
!/source/NanairoCore/Material/SurfaceModel/*.cpp
!/source/NanairoCore/Material/Texture/
!/source/NanairoCore/Material/Texture/*.hpp
!/source/NanairoCore/Material/Texture/*.cpp
!/source/NanairoCore/RenderingMethod/
!/source/NanairoCore/RenderingMethod/*.hpp
!/source/NanairoCore/RenderingMethod/*.cpp
!/source/NanairoCore/Setting/
!/source/NanairoCore/Setting/*.hpp
!/source/NanairoCore/Setting/*.cpp
!/source/NanairoCore/Sampling/
!/source/NanairoCore/Sampling/*.hpp
!/source/NanairoCore/Sampling/*.cpp
!/source/NanairoCore/Sampling/LightSourceSampler/
!/source/NanairoCore/Sampling/LightSourceSampler/*.hpp
!/source/NanairoCore/Sampling/LightSourceSampler/*.cpp
!/source/NanairoCore/ToneMapping/
!/source/NanairoCore/ToneMapping/*.hpp
!/source/NanairoCore/ToneMapping/*.cpp
!/source/NanairoCore/Utility/
!/source/NanairoCore/Utility/*.hpp
!/source/NanairoCore/Utility/*.cpp
## NanairoGui
!/source/NanairoGui/
!/source/NanairoGui/*.hpp
!/source/NanairoGui/*.hpp.in
!/source/NanairoGui/*.cpp
!/source/NanairoGui/*.cmake
!/source/NanairoGui/Gui/
!/source/NanairoGui/Gui/*.qml
!/source/NanairoGui/Gui/*.js
!/source/NanairoGui/Gui/MaterialItems/
!/source/NanairoGui/Gui/MaterialItems/*.qml
!/source/NanairoGui/Gui/MaterialItems/TabSurfaceModelItems/
!/source/NanairoGui/Gui/MaterialItems/TabSurfaceModelItems/*.qml
!/source/NanairoGui/Gui/MaterialItems/TabEmitterModelItems/
!/source/NanairoGui/Gui/MaterialItems/TabEmitterModelItems/*.qml
!/source/NanairoGui/Gui/MaterialItems/TabTextureModelItems/
!/source/NanairoGui/Gui/MaterialItems/TabTextureModelItems/*.qml
!/source/NanairoGui/Gui/RenderedImagedowItems/
!/source/NanairoGui/Gui/RenderedImagedowItems/*.qml
!/source/NanairoGui/Gui/SetgBlockItems/
!/source/NanairoGui/Gui/SetgBlockItems/*.qml
!/source/NanairoGui/Gui/TabSceneItems/
!/source/NanairoGui/Gui/TabSceneItems/*.qml
!/source/NanairoGui/Gui/TabSystemItems/
!/source/NanairoGui/Gui/TabSystemItems/*.qml
!/source/NanairoGui/Gui/TabColorItems/
!/source/NanairoGui/Gui/TabColorItems/*.qml
!/source/NanairoGui/Gui/TabRenderingMethodItems/
!/source/NanairoGui/Gui/TabRenderingMethodItems/*.qml
!/source/NanairoGui/Gui/TabBvhItems/
!/source/NanairoGui/Gui/TabBvhItems/*.qml
!/source/NanairoGui/Gui/TabObjectItems/
!/source/NanairoGui/Gui/TabObjectItems/*.qml
!/source/NanairoGui/Gui/TabObjectItems/ObjectTreeItems/
!/source/NanairoGui/Gui/TabObjectItems/ObjectTreeItems/*.qml
!/source/NanairoGui/Gui/TabObjectItems/TabCameraItems/
!/source/NanairoGui/Gui/TabObjectItems/TabCameraItems/*.qml
!/source/NanairoGui/Gui/TabObjectItems/TabObjectItems/
!/source/NanairoGui/Gui/TabObjectItems/TabObjectItems/*.qml
!/source/NanairoGui/Gui/TabObjectItems/TransformationItems/
!/source/NanairoGui/Gui/TabObjectItems/TransformationItems/*.qml
!/source/NanairoGui/Gui/Styles/
!/source/NanairoGui/Gui/Styles/*.qml
!/source/NanairoGui/Gui/dummydata/
!/source/NanairoGui/Gui/dummydata/*.qml
!/source/NanairoGui/Gui/image/
!/source/NanairoGui/Gui/image/*.png
!/source/NanairoGui/Renderer/
!/source/NanairoGui/Renderer/*.hpp
!/source/NanairoGui/Renderer/*.cpp
## Dependencies
!/source/dependencies/
!/source/dependencies/zisc
!/source/dependencies/lodepng
!/source/dependencies/cxxopts
## Test
!/test/
!/test/config.cmake
!/test/googletest
!/test/unittest/
!/test/unittest/*.cpp
!/test/unittest/*.hpp
!/test/resources/
!/test/resources/test_resource.qrc
!/test/resources/*.json

# Tools
!tool/
!tool/spectral_transport/
!tool/spectral_transport/spectral_transport.py
!tool/spectral_transport/xyz_cmf/
!tool/spectral_transport/xyz_cmf/*.csv

# Resources
!resources/
!resources/resource.qrc
!resources/spectrum/
!resources/spectrum/conductor/
!resources/spectrum/conductor/*.csv
!resources/spectrum/dielectric/
!resources/spectrum/dielectric/*.csv
!resources/spectrum/illuminant/
!resources/spectrum/illuminant/*.csv
!resources/spectrum/observer/
!resources/spectrum/observer/*.csv
!resources/spectrum/reflectance/
!resources/spectrum/reflectance/*.csv
!resources/models/
!resources/models/*.obj
!resources/models/LightTransportEquationOrb/
!resources/models/LightTransportEquationOrb/*.obj
!resources/models/OfficeChair/
!resources/models/OfficeChair/*.obj
!resources/models/OpenedDoor/
!resources/models/OpenedDoor/*.obj
!resources/models/PcMonitor/
!resources/models/PcMonitor/*.obj
!resources/models/Piano/
!resources/models/Piano/*.obj
!resources/models/Primitives/
!resources/models/Primitives/*.obj
!resources/models/Sofa/
!resources/models/Sofa/*.obj
!resources/models/StanfordModels/
!resources/models/StanfordModels/*.obj
!resources/models/Table/
!resources/models/Table/*.obj
!resources/scene/
!resources/scene/*.nana
!resources/image/
!resources/image/*.png

# Packaging
!packaging/
!packaging/*.sh.in
!packaging/*.cmd.in
!packaging/*.cmake
!packaging/*.cmake.in
!packaging/icon.icns
!packaging/icon.ico
!packaging/icon.pxm
!packaging/icon.rc

# Build directories
!/build/
!/build/.gitkeep
