[submodule "source/zisc"]
	path = source/dependencies/zisc
	url = https://github.com/byzin/Zisc.git
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
[submodule "source/dependencies/lodepng"]
	path = source/dependencies/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "source/dependencies/cxxopts"]
	path = source/dependencies/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "source/dependencies/assimp"]
	path = source/dependencies/assimp
	url = https://github.com/assimp/assimp
